@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
Contacts







Cairo

<p>Address: Nile Gardenia Building, Intersection of Roads 108 & 161,</p>
<p>Hadaek El Maadi, Cairo - Egypt. P.O. Box 4 Zamalek,</p>
   <p>11211 Cairo - Egypt.</p>
    <p>    Fax: +20 2 5281587 </p>
   <p>    Phone: +20 2 5281730 </p>

    <address>

    </address>

    <address>

    </address>
