@{
    ViewBag.Title = "Home Page";
}





<div class="jumbotron">
    <h1>RBC Staff Management System</h1>
    <p class="lead"></p>
    <p>@*<a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a>*@</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RBC Mission Authorization</h2>
        <p>
            Defines guidelines on using RBC Staff management system to apply for and approve travel requests.
            WFP RBC has a manual approval form for official travel.Administration unit requires an approved travel request form by the Head of unit to be able to process the staff member’s request.
            IT unit is creating a staff management portal to automate some of the manual forms in RBC.
            Travel requests were selected as the first form to be automated by RBC staff management system.
            <br>
            <br>
            <br>
        </p>
        <p><a class="btn btn-default" href="/SMS/MissionAuthorizations/create">Create Mission</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Staff Request</h2>
        <p>	To request IT services for new staff joining RBC or Egypt Country office.An email will be sent to cairo.itservicedesk@wfp.org, the supervisor and requester to confirm the request. 
        You will receive a notification once there is an update.

</p>
       
        <br>
        <br>
        <br>
        <br>
        <br>
        <p><a class="btn btn-default" href="/RBC-SMS/requests/Create">Create Request</a></p>
    </div>
    <div class="col-md-4">
        <h2>Event Request </h2>
        <p> Event Planning Services manages the scheduling of events/activities To request services for new Event for RBC, and the staff Activities Building.

</p>
        <br>
        <br>    
        <br>  
        <br>   
        <br>
        <br>    
        <p><a class="btn btn-default" href="/RBC-SMS/EventRequest/create">Create Request</a></p>
    </div>
</div>
<br>
<br> 
<div class="col-md-4">
    <h2>EGYCO Mission Authorization</h2>
    <p>
        Defines guidelines on using CO Staff management system to apply for and approve travel requests.
        WFP CO has a manual approval form for official travel.Administration unit requires an approved travel request form by the Head of unit to be able to process the staff member’s request.
        IT unit is creating a staff management portal to automate some of the manual forms in CO.
        Travel requests were selected as form to be automated by RBC staff management system.

    </p>
    
    
    <br>
    <p><a class="btn btn-default" href="/RBC-SMS/MissionAuthorization1/create">Create Mission</a></p>
</div>

<div class="col-md-4">
    <h2>About RBC SMS System</h2>
    <p>
        RBCSMS will provide the WFP the ability to submit, update, and track the staff information, missions, leaves, training, and procurement. The solution should be based on Microsoft Technologies: Windows Server 2008, Microsoft .NET Framework 4.5 using MVC5 and Microsoft SQL Server 2008.


    </p>
   
    <br>
    <br>
    <br>
    <p><a class="btn btn-default" href="">Comming Soon</a></p>
</div>

<div class="col-md-4">
    <h2>Contacts</h2>
    <p>
        For Help Please Call CAIRO IT SERVICEDESK <a href="mailto:cairo.itservicedesk@wfp.org.com">eMail Us</a> .



</p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p><a class="btn btn-default" href="mailto:cairo.itservicedesk@wfp.org.com">eMail Us</a></p>
</div>

