
@{
    ViewBag.Title = "Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Approval" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
@{

    string param2 = ViewBag.ClearedBySupervisor;

    if (param2 == "True")
    {
        <h2>Mission Accepted</h2>
    }
else
    { 
    <h2>Mission rejected</h2>
    }
}